body{
    background-color: rgb(26, 23, 18);
}
.titulo{
    color: rgb(132, 19, 6);
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: xx-large;
}
.container{
    display: flex;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 27rem;
    width: 27rem;
    border: black 2px solid;
    margin: 2rem;
    background-color: rgb(97, 77, 77);
}
.imagenProducto{
    height: 12rem;
    width: 12rem;
}
.nombreProducto{
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(2, 2, 2);
}

.precioProducto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.infoProducto{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
.verCarrito{
    align-items: center;
    width: 5rem;
    height: 5rem;
    margin-top: 14rem;
    margin-right: 2rem;   
}
.vaciarCarrito{
    align-items: center;
    width: 5rem;
    height: 5rem;
    margin-top: 14rem; 
}
button{
    background-color: black;
    color: white;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover {
    background-color: white;
    color: black;
}
#loader{
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    height: 100vh;
    width: 100vw;           
    margin: 0;
    background-color: black;            
}
.tituloCarga{
    color: rgb(251, 251, 251);
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

